# Core LangChain
langchain
langchain-core
langchain-community
langchain-openai
langchain-mistralai
langchain-chroma


# OpenAI
openai

# Mistral AI
mistralai

# Environment Variables
python-dotenv

# Vector Database
chromadb

# Embedding Models
sentence-transformers
tiktoken

# Document Loaders
pypdf
pdfplumber
pymupdf
unstructured
python-docx
docx2txt



# RAG Utilities
faiss-cpu
rank-bm25

# Web/API Support
requests
beautifulsoup4

# Streamlit UI
streamlit

# Data Handling
pandas
numpy

# Tokenizers
transformers


# Optional Database
sqlalchemy


# FastAPI (Optional API Deployment)
fastapi
uvicorn

# Jupyter Support
ipykernel
notebook

langchain-huggingface
sentence-transformers
transformers